.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}
@media only screen and (max-width: 480px) {
  .break {
    flex-direction: column;
  }
}

